<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>{{title}}</title>
  <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
  <link href="/stylesheets/font-awesome.css" rel="stylesheet" />
  <link href="/stylesheets/dataTables.bootstrap.css" rel="stylesheet" />
  <link href="/stylesheets/style.css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
  <script src="https://www.gstatic.com/firebasejs/5.4.0/firebase.js"></script>
</head>

<body>
  {{{body}}}
  <script src="/javascripts/jquery-1.10.2.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/jquery.dataTables.js"></script>
  <script src="/javascripts/dataTables.bootstrap.js"></script>
  <script src="/javascripts/custom.js"></script>
</body>

</html>